/* STANDARD ELEMENTS */

body {
    background-color: #f0f8ff;
    font-size: 14px;
    /* Always show a vertical scrollbar */
    overflow-y: scroll;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
}

header,
footer {
    border: 2px solid #456879;
    box-sizing: border-box;
    margin: 6px 0;
    padding: 10px;
}

/* FORM ELEMENTS */

label,
a.cancel {
    display: inline-block;
    text-align: right;
    width: 20%;
}
input,
select {
    border: 1px solid darkslategrey;
    color: black;
    display: inline-block;
}
input:focus,
select:focus {
    outline: 2px solid darkslategrey;
}
input[type="text"],
input[type="password"],
input[type="submit"],
select {
    background-color: lightgoldenrodyellow;
    margin: 6px 0;
    padding: 10px;
}
input[type="submit"] {
    background-color: lightgreen;
}
input[type="submit"][value="delete"] {
    background-color: pink;
}
input[type="radio"] {
    height: 20px;
    width: 20px;
    vertical-align: bottom;
}

.valid {
    background-color: lightgreen;
}

.invalid {
    background-color: orange;
}

/* HIDE/SHOW SECTIONS */

pre {
    background: white;
    padding: 5px;
}

/*
    This CSS requires the following HTML structure, where
    "id1" is a unique value for each input/label pair

    <input id="id1" type="checkbox" class="collapser" />
    <label for="id1">
        [Show/Hide message here]
    </label>
    <div> [or <section> or any element]
        [HTML to show/hide here]
    </div>

    This CSS is advanced - you're not expected to fully understand it.
    The complexity is necessary to keep the HTML simple and the app usable.
    For reference see e.g.
    - https://www.w3schools.com/cssref/sel_element_pluss.asp
    - https://www.w3schools.com/cssref/sel_gen_sibling.asp
    - https://www.w3schools.com/cssref/sel_attribute_value.asp
    - https://www.w3schools.com/cssref/sel_not.asp
*/
.collapser {
    margin-top: 20px;
}
input.collapser {
    position: absolute;
    left: -1000px;
    width: 0;
    height: 0;
}
input.collapser + label {
    background: plum;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
input.collapser + label:active {
    outline: 3px solid magenta;
}
input.collapser:focus + label {
    outline: 3px solid darkmagenta;
}
input.collapser:not(:checked) + label + * {
    display: none;
}

/* Special case to show/hide script execution reports */
.report {
    background: white;
    padding: 5px;
}
.report.file {
    background: paleturquoise;
}
.report.message {
    background: powderblue;
}
input#show_reports:not(:checked) + label ~ .report {
    display: none;
}
input#show_reports:not(:checked) + label ~ .report.always {
    display: block;
}
